<article class="post" id="{{id}}">

  <div class="post-header bg-brown font-cabbage">{{title}} <span>Posted by {{user.username}} on {{format_date created_at}}</span> 
  </div>

  <div class="post-body">
  
    <p>{{text}}</p>

  </div>

</article>